.gridCell {
    background-color: beige;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

html {
    background-color: rgb(180, 226, 255);
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    height: 656px;
    position: relative;
    left: 20%;

}

